# React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Android
/android/.gradle
/android/app/build/
android/build/
*.iml
.gradle
/local.properties
*.keystore
*.jks

# iOS
/ios/Pods/
/ios/build/
/ios/DerivedData/
/ios/*.xcworkspace
ios/*.xcuserdata
ios/*.xcuserstate

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Metro
.expo/
.expo-shared/
.cache/
dist/
tmp/
temp/

# React Native packager
*.packager
*.log

# Misc
.env
.env.local
.env.*.local

# Watchman
.watchmanconfig

# IDEs
.vscode/
.idea/

# Jest
coverage/
*.snap

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Buck
.buckconfig.local
.buckd/
buck-out/
build/

# Ruby
*.gem
*.rbc
.bundle/
vendor/bundle/

# CocoaPods
Podfile.lock
Pods/

# Others
*.swp
*.swo
